.container {
    display: flex;
}


.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap:wrap ;
    background-color: white;
    border: solid 5px;

}

.grid div {
    height: 20px;
    width: 20px;
    
}



.tetromino {
   
    border: 0.1px solid black;
    box-sizing: border-box;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: gold;
    border: solid 4px;
}

.mini-grid div {
height: 20px;
width: 20px;
}

h1 {
    background-color: red;
    text-align: center;
    color: black;
    padding: 15px;
    border-color: black;
    /* margin-right: 500px; */
    text-align: center;
}

* {
    font-family: 'Press Start 2P', cursive;
  }

  html {
    display: table;
    margin: auto;
   
}

.play-button.new-game {
   
    color: black;
    font-size: 10px;
    cursor: pointer;
   
}


.play-button {
     background-color: limegreen;
     color: black;
     margin: 20px;
}

.new-game {
    background-color: blueviolet;
    color: black;
}


p {
    font-size: xx-small;
    color: whitesmoke;
}

h3 {
    color: red;
}

